<div class="max-w-screen-xl mx-auto p-6 mt-10">
  <div class="sm:grid lg:grid-cols-3 sm:grid-cols-2 gap-5">
    {% for posts in post %}
    <div
      class="bg-gray-300 mt-10 text-black transition duration-300 max-w-sm rounded overflow-hidden shadow-lg"
    >
      <div class=" ">
        <div class="py-4 px-8 flex">
          <div class="flex-1">
            <a href="/profile/{{ posts.user.user.username }}">
              <img
                src="{{ posts.user.profileimg.url }}"
                class="rounded-full h-12 w-12 inline"
              />
              <span class="text-xs">@{{posts.user.user.username}}</span>
            </a>
          </div>

          {% if posts.id in save %}
          <a href="{% url 'addsave' posts.id %}">
            <img src="static/img/bookmark.png" class="h-10 w-8">
          </a>
          {% else %}
          <a href="{% url 'addsave' posts.id %}">
            <img src="static/img/bookmarked.png" class="h-10 w-8">
          </a>
          {% endif %}

        </div>
{% if posts.find_typecheck == "mp4" %}
<video className="p-2" autoplay muted controls>
  <source src={{posts.image.url}} type="video/mp4" />
</video>
{% else %}
        <img src="{{ posts.image.url }}" class="w-full h-96 rounded p-2" />
{% endif %}
        <p class="mb-2 text-sm text-gray-600">{{ posts.description }}</p>
        <span>{{posts.get_created_at}}| {{posts.created_at}} ||{{ posts.created_at|timesince|slice:":5" }} ago ------ views * {{posts.view}}</span>

        <hr class="mt-4" />
      </div>
        <div class="flex justify-between">
          <a href="/like_post?post_id={{posts.id}}">
            <button><img src="static/img/like.png" class="w-10" /></button>
            {{posts.likes.count}}
          </a>

          <a href="/dislike_post?post_id={{posts.id}}">
            <button class="w-10"><img src="static/img/dislike.png" /></button>
            {{posts.dislikes.count}}
          </a>

          <a href="/postroom/{{posts.id}}">
            <button class="w-10"><img src="static/img/comment.png" /></button> {{posts.no_of_comments}}
          </a>

          <a href="{{posts.image.url}}" download>
            <button class="w-10"><img src="static/img/download.png" /></button>
          </a>
        </div>
    </div>
    {% endfor %}
  </div>
</div>
