{% extends "base.html" %} {% block title %}chat{% endblock title %}
{% block content %} 

{% comment %}
<div>
  {% if friendp.user == user %}
  <h1>Save</h1>
  {% else %}
  <h1>@{{friendp.user}}</h1>
  <h1>{{friendp.user.email}}</h1>
  {% endif %} {% if message %}
  <div class="m-2 p-5 bg-black text-white">
    {% for m in message %}
    <h3
      style="{% if m.sender.user.username == user.username %}background-color: rgb(100, 100, 100); text-align: end;{% endif %}"
    >
      <strong>@{{m.sender.user.username}}-</strong>- {{m.massage}}<span>
        - {{ m.timestamp|timesince|slice:":5" }} ago {{m.members.all}}</span
      >
    </h3>
    {% endfor %}
  </div>
  {% else %}
  <br />
  <br />
  <h1>you side hi!</h1>
  {% endif %}
</div>

<form method="POST" action="">
  {% csrf_token %} {{form}}
  <button type="submit">send</button><spam>@{{ friendp.user.username }}</spam>
</form>
{% endcomment %}

<div class="h-screen flex flex-col">
  <div class="bg-gray-200 flex-1 overflow-y-scroll">
    <div class="px-4 py-2">
      {% for m in message %} {% comment %}
      <div class="flex items-center mb-2">
        <img
          class="w-8 h-8 rounded-full mr-2"
          src="https://picsum.photos/50/50"
          alt="User Avatar"
        />
        <div class="font-medium">John Doe</div>
      </div>
      <div class="bg-white rounded-lg p-2 shadow mb-2 max-w-sm">
        Hi, how can I help you?
      </div>
      {% endcomment %}

      <div
        class="flex items-center {% if m.sender.user.username == user.username %}justify-end{% endif %}"
      >
        <div class="bg-blue-500 text-white rounded-lg p-2 shadow mr-2 max-w-sm">
          {{m.massage}}
          <br />
          {% if m.file %}
          {% if m.find_typecheck == 'jpg' or m.find_typecheck == 'png' or m.find_typecheck == 'jpeg' %}
          <div
            class="flex items-start bg-gray-50 dark:bg-gray-700 rounded-xl p-2"
          >
            <img
              src="{{MEDIA_URL}}{{ m.file }}"
              class="rounded-lg w-60"
              alt="12 | 4 | jpg"
            />
          </div>
          {% else %}
          <div
            class="flex items-start bg-gray-50 dark:bg-gray-700 rounded-xl p-2"
          >
            <div class="me-2">
              <span
                class="flex items-center gap-2 text-sm font-medium text-gray-900 dark:text-white pb-2"
              >
                <img class="w-5 h-5 flex-shrink-0" src="/static/img/file.png" />
                {{m.file}}
              </span>
              <span
                class="flex text-xs font-normal text-gray-500 dark:text-gray-400 gap-2"
              >
                12 Pages
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  class="self-center"
                  width="3"
                  height="4"
                  viewBox="0 0 3 4"
                  fill="none"
                >
                  <circle cx="1.5" cy="2" r="1.5" fill="#6B7280" />
                </svg>
                {{m.file.size|filesizeformat}} 
                {% comment %}
                    {% load sizify %}
                    {{m.file.size|sizify}}
                {% endcomment %}

                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  class="self-center"
                  width="3"
                  height="4"
                  viewBox="0 0 3 4"
                  fill="none"
                >
                  <circle cx="1.5" cy="2" r="1.5" fill="#6B7280" />
                </svg>
                {{m.find_typecheck}}
              </span>
            </div>
            <div class="inline-flex self-center items-center">
              <a
                href="{{MEDIA_URL}}{{ m.file }}"
                class="inline-flex self-center items-center p-2 text-sm font-medium text-center text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-600"
                type="button"
              >
                <svg
                  class="w-4 h-4 text-gray-900 dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z"
                  />
                  <path
                    d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"
                  />
                </svg>
              </a>
            </div>
          </div>
          {% endif %}
          {% endif %}
        </div>
        <img
          class="w-8 h-8 rounded-full"
          src="{{m.sender.profileimg.url}}"
          alt="User Avatar"
        />
      </div>
      {% endfor %}
    </div>
  </div>
  <form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="bg-gray-100 px-4 py-2">
      <div class="flex items-center">
        {{form.massage}} {{form.file}}
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-full"
        >
          Send
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock content %}
